.Menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;

  img {
    width: 20px;
    height: 20px;
  }

  .Menu_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      width: 50px;
      height: 50px;
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.04);
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 10px;
    }
    button:hover {
      background-color: rgba($color: #ffffff, $alpha: 0.1);
    }
    button:active {
      background-color: rgba($color: #ffffff, $alpha: 0.4);
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }
  
}
